.divstyle{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}
.indivstyle{
    flex:1;
    background-color: gold;
    float: left;
    border-radius:20%;
    margin:2%;
    padding-bottom: 30%;
}
