.divstyle{
    width: 100%;
    display: flex;
    flex-wrap:nowrap;
}
.square{
    flex:1;
    background-color: #ffa600;
    float: left;
    border-radius:20%;
    margin:2%;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
